[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
flask-socketio = "*"
requests = "*"
flask = "*"
gevent = "*"
gevent-websocket = "*"
fastcache = "*"
postgres = "*"

[dev-packages]

[requires]
python_version = "3.6"
