[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
requests = "*"
pyyaml = "*"
arrow = "*"
fastcache = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.7.2"
